* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.main {    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photos/spectre.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    padding: 16px;
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photos/spectre.jpg);
    background-size: cover;
}

.icon {
    width: 150px;
    float: left;
    height: 70px;
    margin-top: 20px;

}

.main .navbar .logo {
    color: rgb(247, 189, 1);
    font-size: 25px;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 30px;

}

.logo:hover {
    color: orangered;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    margin-top: 15px;

}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(247, 189, 1);
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 5px;
}

.srch {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200ppx;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 15px;
    color: white;
    border-right: none;
    float: left;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn {
    width: 100px;
    height: 40px;
    background: rgb(247, 189, 1);
    border: 2px solid orangered;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn:hover {
    background: orangered;
    color: white;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    min-height: 100vh;    
    color: white;
    position: relative;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    scroll-snap-align: start;
    padding: 16px;
    align-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photos/spectre.jpg);
    background-size: cover;
}

.content .image-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px;
}

.content .image-block img{
    width: 100px;
    height: 150px;
    border-radius: 10px;
    flex: 0 1 150px;
    box-sizing: border-box;
}

.content .image-block p {
    line-height: 30px;
    letter-spacing: 1.2px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    transition: 1s ease-in-out;
    margin-top: 0;
       
}

.content p:hover {
    color: orangered;

}

.content h1 {
    font-size: 50px;
    margin-top: 10px;    
    line-height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    transition: 1s ease-in-out;
    cursor: default;

}

.content h1:hover {
    color: rgb(247, 189, 1);
    
}

.content h1 span {
    color: orangered;
}


.logo1 {
    height: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;

}

.section {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 16px;
    align-content: center;
    scroll-snap-align: start;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photos/spectre.jpg);
    background-size: cover;
}

.image-row {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
}

.image-row img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1.5px solid #800080;
}

.image-row p {
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    cursor: default;
    transition: 1s ease-in-out;
}

.image-row p:hover{
    color: orangered;
}

.epl-fan{
    display:inline-flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 20px;
}

.epl-fan img{
width: 180px;
height: 150px;
border-radius: 10px;

}

.about {
    max-width: 1200px;
    min-height:100vh;
    margin: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    scroll-snap-align: start;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photos/spectre.jpg);
    background-size: cover;
    padding: 16px;
}


.about p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1.2px;
    font-size: 18px;
    cursor: default;
    transition: 0.4s ease-in-out;
    margin-bottom: 20px;
    
}

.aboutpage{
margin: auto;
}

.about p:hover {
    color: orangered;
}

.about .apply ol {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    font-size: 18px;
    cursor: default;
    transition: 0.4s ease-in-out;
}

.about .apply ol li {
    margin-top: 10px;

}

.about .apply ol li:hover {
    color: rgb(247, 189, 1);
}

.about .apply a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.4s ease-in-out;

}

.about .apply a:hover {
    color: orangered;
}

.about .apply .btn1 {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 2px solid orangered;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.about .apply .btn1:hover {
    background-color: orangered;
    color: white;
}